* {
  font-family: 'Lato', sans-serif;
}

html {
  background-color: #f9f9f9;
}

a.brand-logo,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bodoni Moda', serif;
}

.login-panel {
  margin-top: 100px;
  background: #ffffff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
  padding: 3.5rem 0;
}

.login-panel .btn {
  margin-bottom: 1rem;
}

#current-user {
  position: absolute;
  background: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  font-size: 13px;
  font-weight: normal;
  z-index: 5;
  padding: 1rem 2rem;
  text-align: left;
}

#current-user img {
  width: 150px;
  height: 150px;
}

.user-menu {
  color: #999999;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.user-menu span {
  margin: 0 0.5rem;
}

.container-center .login-panel {
  margin-top: 150px;
  width: 50%;
}
.container-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.register-container .btn {
  margin-right: 0;
}

.login-panel .container {
  width: 80%;
  margin-top: 0;
  text-align: left;
}

.guest-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.guest-page h1 {
  font-family: 'Cutive Mono', monospace;
  text-transform: uppercase;
  font-size: 3rem;
}

.typewriter h1 {
  overflow: hidden;
  color: #2196f3;
  font-family: 'Cutive Mono', monospace;
  font-weight: bold;
  border-right: 0.15em solid #2196f3;
  white-space: nowrap;
  font-size: 3rem;
  text-align: end;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #2196f3;
  }
}

a {
  color: #999999;
}

#logo {
  height: 70px;
}

.link {
  color: #2196f3;
}

.link:hover {
  color: #999999;
}

.main-img {
  margin: 10px;
}

i.home {
  color: #2196f3;
  font-size: 2rem;
}

.home {
  max-width: 90vw;
}

.home-link {
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  padding: 5px;
}

.home-link:hover {
  background-color: #2196f3;
  color: #ffffff;
}

.card-action i {
  color: #2196f3;
  font-size: 1.5rem;
}

.card-action.row {
  margin: 0;
  padding: 0.5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-header {
  text-transform: uppercase;
  letter-spacing: 0.6rem;
}

.btn {
  background-color: #ffffff;
  color: #999999;
  letter-spacing: 0.3rem;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 45px;
  margin: 5px 0;
  text-align: center;
  margin: 10px 15px;
  margin-left: 0;
  min-width: 13rem;
}

.btn:hover {
  background-color: #2196f3;
  color: #ffffff;
}

.btn:focus {
  background-color: #999999;
  color: #ffffff;
}

.select-wrapper + label {
  top: -35px;
}

nav .brand-logo {
  letter-spacing: 0.3rem;
  padding: 0 15px;
  font-size: 1.8rem;
  color: #000000;
}

nav a,
nav ul a {
  color: #000000;
}

a:hover {
  color: #2196f3;
}
a.brand-logo:hover {
  color: #000000;
}

/* label focus color */
.input-field input[type='text']:focus + label {
  color: #000;
}

/* label underline focus color */
.input-field input:focus {
  border-bottom: 1px solid #2196f3;
  box-shadow: 0 1px 0 0 #000;
}

input:not([type]):focus:not([readonly]),
input[type='text']:not(.browser-default):focus:not([readonly]),
input[type='password']:not(.browser-default):focus:not([readonly]),
input[type='email']:not(.browser-default):focus:not([readonly]),
input[type='url']:not(.browser-default):focus:not([readonly]),
input[type='time']:not(.browser-default):focus:not([readonly]),
input[type='date']:not(.browser-default):focus:not([readonly]),
input[type='datetime']:not(.browser-default):focus:not([readonly]),
input[type='datetime-local']:not(.browser-default):focus:not([readonly]),
input[type='tel']:not(.browser-default):focus:not([readonly]),
input[type='number']:not(.browser-default):focus:not([readonly]),
input[type='search']:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #2196f3;
  -webkit-box-shadow: 0 1px 0 0 #2196f3;
  box-shadow: 0 1px 0 0 #2196f3;
}

.dropdown-content li > a,
.dropdown-content li > span {
  font-size: 16px;
  color: #2196f3;
  display: block;
  line-height: 22px;
  padding: 14px 16px;
}

.select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid #2196f3;
}

.input-field .helper-text {
  min-height: 0;
}

fieldset {
  padding: 0;
  border: 0;
}

nav,
nav .nav-wrapper i,
nav a.sidenav-trigger,
nav a.sidenav-trigger i {
  line-height: 63px;
}

nav {
  height: 125px;
}

nav ul {
  margin: 0;
  display: flex;
  align-items: center;
}

.nav-wrapper {
  margin-bottom: 1rem;
  padding: 1.5rem 1rem;
  position: fixed;
  top: 0;
}

.container {
  margin-top: 90px;
}

.sidebar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.sidebar-links {
  margin-left: 0;
  display: flex;
  flex-direction: row;
}

.sidebar .responsive-img {
  margin: 10px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.user-details {
  font-size: 13px;
}

.row.col.user-details {
  padding: 0.5rem;
}

.card .card-content {
  padding: 0.5rem 1.5rem;
  padding-top: 1rem;
}

.user-details p {
  line-height: normal;
}

.user-details p.small-text {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.card-content.row .user-details {
  height: 2rem;
}

.spaced {
  letter-spacing: 0.3rem;
  font-size: 1.2rem;
}

.bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 10px;
}

#current-user .sidebar-links a.valign-wrapper {
  padding: 0 1rem;
  width: 100%;
}

#current-user .sidebar-links i {
  margin-right: 1rem;
}

.sidebar-links a,
.sidebar-links span {
  padding: 0 35px;
  color: #999999;
  font-weight: bold;
}

.sidebar-links a:hover {
  border: none;
  color: #000000;
  background-color: #f9f9f9;
}
nav .sidebar-links i.material-icons {
  font-size: 1.8rem;
}

.user-details .row {
  border-bottom: 1px #cccccc solid;
  padding-bottom: 0.5rem;
}

.profile-card .user-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.friends-counter {
  margin-bottom: 0.5rem;
}

.users-container .card {
  margin: 0;
}

.profile-card {
  text-align: center;
  height: 25vw;
  flex-direction: column;
  justify-content: center;
  background: #ffffff;
}

.profile-card .responsive-img {
  width: 100px;
  height: 100px;
}

.description {
  text-align: justify;
}

.card h6.card-title {
  color: #000000;
  font-weight: bold;
  font-size: 1.6rem;
  margin-top: 10px;
  text-align: left;
}

p.card-date {
  text-align: left;
  font-size: 13px;
  margin-top: 0;
  padding: 0;
  margin-bottom: 0;
}

.card-content.row {
  margin-bottom: 0;
  color: #000000;
}

.card-content.row a {
  color: #000000;
}

.card-content a {
  color: #999999;
  font-weight: bold;
}

.card h6.card-title:hover,
.card-content a:hover {
  color: #999999;
  border: none;
}

.privacy-level i {
  color: #999999;
  font-size: 1.3rem;
}

.col.m2.right-align.privacy-level {
  display: flex;
  justify-content: right;
  align-content: center;
  height: 1.3rem;
}

.col.m2.right-align.privacy-level span {
  padding: 0;
  margin: 0;
}

.card .card-image img {
  margin: 0.5rem 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.card-content.text {
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.edit-form {
  font-size: 0.9rem;
}

.edit-form .input-field {
  margin: 0;
}

nav i,
nav [class^='mdi-'],
nav [class*='mdi-'],
nav i.material-icons {
  display: inline-block;
}

a.btn:hover {
  border-bottom: none;
}

.edit-links .btn {
  margin-right: 0;
  margin-left: 15px;
}

.edit-links .nav-link {
  margin-left: 0;
}

.author {
  padding: 15px;
  text-align: center;
}

.post-title {
  margin-right: 24px;
  margin-top: 2rem;
  font-size: 2rem;
}

.post-date {
  font-size: 13px;
  text-align: right;
}

img.post-image {
  width: 100%;
  margin-bottom: 10px;
}

p.post-description {
  text-align: justify;
  line-height: 2;
  padding: 1rem 0;
}

i {
  cursor: default;
}

.profile .row.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-button {
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  justify-content: center;
  margin-top: 5px;
  font-size: 13px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding: 0.75rem 2rem;
  margin: 5px;
}

.action-button i {
  margin-right: 5px;
}

h5.profile-edit {
  text-align: left;
  font-size: 20px;
}

nav ul a:hover {
  border: none;
  color: #2196f3;
  background: none;
}

.row .col.s10 {
  padding-left: 2rem;
}

.form-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  justify-items: stretch;
  align-items: stretch;
}

.back-button {
  grid-column: 1;
  grid-row: 1;
}

.edit-form-image {
  grid-column: 1;
  grid-row: 2;
  height: 100%;
}

.image-form {
  margin-top: auto;
height: 100%;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.change-password {
  grid-column: 2;
  grid-row: 1;
}

.edit-form-user {
  grid-column: 2;
  grid-row: 2
}

.image-upload {
  padding: 0 1rem;
}

.hidden {
  display: none;
}

.user-details p.username {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.user-details-flex {
  display: flex;
  justify-content: center;
  align-content: center;
}

.action {
  height: 2rem;
}

.action-button:hover {
  color: #2196f3;
}

.card.horizontal {
  box-shadow: none;
}

.post-image {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.responsive-img {
  /* box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2); */
  border-radius: 50%;
}

.profile.responsive-img,
.profile .responsive-img {
  width: 150px;
  margin-top: 1rem;
  height: auto;
  display: inline-block;
}

.single-post.responsive-img {
  width: 150px;
  height: 150px;
}

.post-header.responsive-img {
  margin: 0.1rem;
  padding: 0;
  max-width: 2.2rem;
}

.post-header {
  border: none;
  font-size: 13px;
  height: 2rem;
}

.card .card-image {
  width: 100%;
  padding-top: 100%; /* 1:1 Aspect Ratio */
  position: relative;
}

.image-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.post-img {
  object-fit: cover;
  height: 100%;
}

.like-button {
  color: #000000;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.like-button:hover {
  color: #999999;
}

.like-button:focus,
.like-button.liked:focus {
  background-color: transparent;
}

.like-button i {
  cursor: pointer;
}

nav form {
  display: flex;
  margin-top: 0.5rem;
}

nav .btn {
  padding-bottom: 5px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin: 3px 0;
  text-align: center;
  min-width: 1rem;
  height: 40px;
  border: none;
  box-shadow: none;
}

nav .btn:hover {
  color: #2196f3;
  background: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

nav i:hover {
  cursor: pointer;
}

nav i,
nav [class^='mdi-'],
nav [class*='mdi-'],
nav i.material-icons {
  display: block;
  font-size: 24px;
  line-height: 32px;
  height: 32px;
}

.card-content.text.search {
  height: auto;
}

.search-item {
  margin: 0 10%;
}

/* .row .col.s10 .user-list {
    margin-left: 9%;
    margin-right: 9%;
} */

.single-tag {
  color: #999999;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  font-size: 0.65rem;
  padding: 0.2rem 0.5rem;
  margin-right: 0.3rem;
  letter-spacing: 0.1rem;
}

.col .row.tags {
  display: flex;
  flex-direction: row;
  margin: 1.5rem;
  margin-bottom: 0;
  height: 1rem;
}

.btn.search:focus {
  background-color: transparent;
}

/* .profile-data {
  display: flex;
  flex-direction: column;
} */

.back-btn {
  margin-left: 15px;
}

.input-field .prefix.active {
  color: #2196f3;
}

.nav-item input[type='text']:not(.browser-default) {
  height: 30px;
}

button:focus {
  outline: none;
  color: #999999;
  background-color: transparent;
}

.action-bar {
  display: flex;
}

.error {
  color: #f44336;
  margin: 1rem 0;
}

button.likes-panel-button {
  display: inline-block;
  font-weight: bold;
  margin: 0;
  padding: 0;
  display: relative;
}

.likes-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.likes-panel-button.like-button {
  margin: 0;
}

button.like-button,
button.likes-panel-button.like-button {
  display: inline-block;
  margin: 0;
}

.likes-to-show {
  position: absolute;
  background: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  font-size: 13px;
  font-weight: normal;
  min-width: 75%;
  z-index: 5;
  top: 4.1rem;
  right: 0;
  padding: 0.5rem;
  text-align: left;
}

.profile-edit-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 250px;
  text-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
}

.filepond--root {
  width: 150px;
  height: 150px;
  margin-top: 1.1rem;
}

.likes-username {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  justify-content: flex-start;
  line-height: 13px;
}

a.username {
  padding: 0;
  margin-left: 0.5rem;
}

.likes-panel-single-post .likes-to-show {
  position: absolute;
  background: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  font-size: 13px;
  font-weight: normal;
  min-width: 35%;
  z-index: 5;
  right: 0;
  top: 2.5rem;
  padding: 0.5rem;
  text-align: left;
}

.likes-panel-single-post {
  position: relative;
}

.likes-panel-single-post .likes-panel {
  margin-right: 1rem;
}

.register-info {
  color: #999999;
  text-align: justify;
  font-size: 0.8rem;
}

.input-field > label {
  font-size: 0.9rem;
}


.sidebar-links-mobile {
  display: none;
}

.single-comment p {
  padding: 0.5rem 0;
  margin: 0;
  text-align: justify;
  line-height: 2;
  font-size: 13px;
}

.single-comment .author .single-post.responsive-img {
  width: 5rem;
  height: 5rem;
}

.single-comment .author {
  width: 20%;
  overflow: hidden;
}

.single-comment .author p {
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.single-comment.card.horizontal {
  margin: 1rem 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}

.comments-container {
  margin-top: 2rem;
}

.single-comment .card-action.row {
  justify-content: space-between;
}

.btn.comments-action {
  min-width: auto;
  box-shadow: none;
  padding: 0;
  margin: 0;
  margin-left: 0.5rem;
}

.btn.comments-action:focus {
  background-color: #ffffff;
}

.btn.comments-action i {
  color: #999999;
}

.btn.comments-action i:hover {
  color: #000000;
  cursor: pointer;
}

.btn.comments-action:hover {
  background-color: transparent;
  color: #000000;
}

.post-comments-icons {
  color: #999999;
  display: flex;
  justify-content: center;
  margin-right: 0.5rem;
  font-size: 13px;
}

.post-comments-icons i {
  margin-left: 0.2rem;
}

.privacy-level {
  display: flex;
  justify-content: right;
}

textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #999999;
}

.add-comment button.btn.btn-primary {
  margin-right: 0;
}

.add-comment {
  text-align: right;
}

.add-comment-container .row .col.s12 {
  padding: 0.5rem 0;
}

textarea.materialize-textarea {
  font-size: 13px;
  line-height: 2;
  text-align: justify;
}

.btn.comments-action.liked i {
  color: #f44336;
}

.btn.comments-action.liked i:hover {
  color: #000000;
}

.user-details p.username {
  color: #000000;
}

.user-details p.username:hover {
  color: #999999;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-content p.center-align a:hover {
  color: #000000;
}

.comments-link span.post-comments-icons:hover,
.comments-link i:hover {
  cursor: pointer;
  color: #000000;
}

.users-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
}

.details-link {
  font-size: 0.9rem;
  padding: 0;
}

.profile .responsive-img {
  margin: 1rem 0;
}

.profile .post-header.responsive-img {
  margin: 0.1rem;
}

.card {
  background: transparent;
}

.like-button i.red-text:hover {
  color: #999999 !important;
}

nav .brand-logo {
  left: 0;
  -webkit-transform: none;
  transform: none;
}

.single-post-card {
  width: 33%;
}

.expand-menu-button {
  display: none;
}

@media (max-width: 60rem) {
  .single-post-card {
    width: 100%;
  }

  .unfixed {
    position: unset;
  }

  .sidebar-links-mobile {
    display: flex;
    flex-direction: column;
  }

  #current-user .sidebar-links-mobile a.valign-wrapper {
    padding: 0 0.5rem;
  }

  h5.left-align {
    margin: 1rem 2.5%;
  }

  .users-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    margin: 1rem 0;
  }

  .users-container .card {
    margin: 0 auto;
    width: 95%;
  }

  .profile-card {
    text-align: center;
    padding: 2rem;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }

  .user-details.profile-data {
    display: flex;
    flex-direction: column;
  }

  .guest-page {
    flex-direction: column;
    margin-top: 150px;
  }

  .guest-page .col.m6 {
    margin: 0;
  }

  .login-panel {
    margin-top: 0;
  }

  .expand-menu {
    display: none;
    height: 100vh;
    flex-direction: column;
    background: #ffffff;
    align-content: center;
    justify-content: center;
  }

  .nav-wrapper {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0;
  }

  #current-user {
    position: unset;
    box-shadow: none;
  }

  .expand-menu .user-menu .user-data-button {
    display: none;
  }

  nav .btn.expand-menu-button {
    padding: 0 1rem;
  }

  .expand-menu-button:focus {
    padding: 0 1rem;
    background: #ffffff;
    color: #999999;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }

  .sidebar-links {
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
  }

  .sidebar-links a {
    padding: 0.5rem;
  }

  /* .mobile-menu {
    display: flex;
    justify-content: space-between;
  } */

  .expand-menu .navbar-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .expand-menu-button {
    display: initial;
    position: fixed;
    right: 1rem;
  }

  .container-center .login-panel {
    margin-top: 175px;
    width: 90%;
  }

  .login-panel .container {
    margin: 0 auto !important;
  }

  nav {
    height: 150px;
  }

  .sidebar {
    margin-top: 75px;
  }

  .container {
    margin-top: 105px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  .form-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    justify-items: stretch;
    align-items: stretch;
    grid-template-rows: 70px 1fr;
    margin: 1rem
  }

  .profile-edit-container {
    grid-gap: 1rem;
  }
  
  .back-button {
    grid-column: 1;
    grid-row: 1;
  }
  
  .edit-form-image {
    grid-column: 1;
    grid-row: 2;
    height: 100%;
  }
  
  .change-password {
    grid-column: 1;
    grid-row: 3;
  }
  
  .edit-form-user {
    grid-column: 1;
    grid-row: 4
  }
}

@media (min-width: 60rem) and (max-width: 100rem) {
  .single-post-card {
    width: 50%;
  }
}
