* {
    font-family: 'Roboto', sans-serif;
    font-size: 15px
}

a.brand-logo, h1, h2, h3, h4, h5, h6 {
    font-family: 'Volkhov', serif;
}

.link {
    color: #2196f3;
}

.main-img {
    margin: 10px;
}

i.home {
    color: #2196f3;
    font-size: 2rem;
}

.home {
    max-width: 90vw;
}

.home-link {
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    padding: 5px;
}

.home-link:hover {
    background-color: #2196f3;
    color: #FFFFFF;

}

.card-action i {
    color: #2196f3;
    font-size: 1.5rem;
}

.page-header {
    text-transform: uppercase;
    letter-spacing: 0.6rem;
}

.btn {
    background-color: #2196f3;
    letter-spacing: 0.3rem;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 45px;
    margin: 5px 0;
    text-align: center;
    margin: 5px 15px;
}

.btn:hover {
    background-color: #64b5f6;
}

.btn:focus {
    background-color: #1565c0;
}

.select-wrapper + label {
    top: -35px;
}

nav .brand-logo {
    letter-spacing: 0.3rem;
    padding: 0 15px;
    font-size: 1.8rem;
    color: #000000;
}

nav a, nav ul a {
    color: #000000;
}

a:hover {
    border-bottom: #2196f3 1px solid;
}

 /* label focus color */
.input-field input[type=text]:focus + label {
    color: #000;
}

/* label underline focus color */
.input-field input:focus {
    border-bottom: 1px solid #2196f3;
    box-shadow: 0 1px 0 0 #000;
}

input:not([type]):focus:not([readonly]), input[type="text"]:not(.browser-default):focus:not([readonly]), input[type="password"]:not(.browser-default):focus:not([readonly]), input[type="email"]:not(.browser-default):focus:not([readonly]), input[type="url"]:not(.browser-default):focus:not([readonly]), input[type="time"]:not(.browser-default):focus:not([readonly]), input[type="date"]:not(.browser-default):focus:not([readonly]), input[type="datetime"]:not(.browser-default):focus:not([readonly]), input[type="datetime-local"]:not(.browser-default):focus:not([readonly]), input[type="tel"]:not(.browser-default):focus:not([readonly]), input[type="number"]:not(.browser-default):focus:not([readonly]), input[type="search"]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #2196f3;
    -webkit-box-shadow: 0 1px 0 0 #2196f3;
    box-shadow: 0 1px 0 0 #2196f3;
}

.dropdown-content li > a, .dropdown-content li > span {
    font-size: 16px;
    color: #2196f3;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}

.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid #2196f3;
}

.input-field .helper-text {
    min-height: 0;
}

fieldset {
    padding: 0;
    border: 0;
}

nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
    line-height: 63px;
}

nav {
    height: 7rem
}

.nav-wrapper {
    margin-bottom: 1rem;
    padding: 1.5rem 1rem;
}

 .row .col.s2.sidebar {
    width: 280px;
    max-width: 16%;
    position: relative;
}

.sidebar-links.row {
    margin-bottom: 0;
    margin-left: 0
}

.sidebar .responsive-img {
    margin: 10px;
    width: 40%;
}

.user-details {
    font-size: 13px;
    height: 2rem
}

.spaced {
    letter-spacing: 0.3rem;
    font-size: 1.2rem;
}

.bold {
    font-weight: bold;
}

.uppercase {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 10px;
}


.sidebar-links a, .sidebar-links span {
    padding: 10px 15px;
    color: #999999;
    font-weight: bold;
}

.sidebar-links a:hover {
    border: none;
    color: #000000;
}
.sidebar-links i {
    margin-right: 15px;
    font-size: 20px;
}

.user-details .row {
    border-bottom: 1px #CCCCCC solid;
}

.profile-card {
    text-align: center;
    width: 19vw;
    height: 19vw;
    flex-direction: column;
    justify-content: center;
}

.profile-card .responsive-img {
    width: 35%;
}

.description {
    text-align: justify;
}

.card  h6.card-title {
    color: #000000;
    font-weight: bold;
    font-size: 1.6rem;
    margin-top: 10px;
    text-align: left;
}

p.card-date {
    text-align: left;
    font-size: 13px;
    margin-top: 0;
}

.card-content.row {
    margin-bottom: 0;
    color: #000000;
}

.card-content.row a {
    color: #000000;
}

.card-content a {
    color: #999999;
    font-weight: bold;
}

.card-content a:hover {
    border-bottom: solid 1px #999999;
}

.card .card-image img {
    padding: 0 10px;
    margin: 0;
}

.card-content.text {
    height: 12rem;
}


.profile .responsive-img {
    margin-top: 1rem;
}

.edit-form {
    font-size: 0.9rem;
}

.edit-form .input-field {
    margin: 0
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    display: inline-block;
}

a.btn:hover {
    border-bottom: none;
}

.edit-links .btn {
    margin-right: 0;
}

.edit-links .nav-link {
    margin-left: 0;
}

.author {
    padding: 15px;
    text-align: center;
    margin-top: 2rem
}

.post-title {
    margin-right: 24px
}

.post-date {
    font-size: 1rem;
    font-weight: bold;
    text-align: right;
}

img.post-image {
    width: 100%;
    margin-bottom: 10px
}

p.post-description {
    text-align: justify;
}

i {
    cursor: default;
}

.action-button {
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
}